<!-- Start Content-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12 px-1">
      <div class="dash-tabd">
        <ul *ngIf="dataList" class="nav nav-tabs nav-bordered my-nav-tabs">
          <li class="nav-item" (click)="getDataList( 'all' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">
              <img src="assets/img/tab-dashboard.svg">
              Dashboard
            </a>
          </li>
          <li class="nav-item" (click)="getDataList( 'market' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">
              <img src="assets/img/tab-market.svg">
              Market
            </a>
          </li>
          <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">
            <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">
              <img src="assets/img/{{item.icon}}">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content ctm-tabs-content pt-1" id="nav-tabContent">

        <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}">
          <div class="col-md-12 all-dash-tabs px-0">
            <div class="row mx-0">
              <div class="col-md-3 col-6 dash-col-3">
                <a (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/dash-market.svg" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">{{systemName}}</p>
                    <!--<span data-plugin="counterup">15</span>-->
                  </div>
                </a>
              </div>

              <div *ngFor="let item of dataList"  class="col-md-3 col-6 dash-col-3">
                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/{{item.img}}" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">{{item.name}}</p>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"  [ngClass]="{'active show': isActiveTabs === 'market'}" role="tabpanel" aria-expanded="false">
          <div class="row mx-0">
            <div *ngFor="let item of marketList; let iIndex = index" class="col-12 dash-div " [ngClass]="{'mt-1': iIndex !== 0}">
              <div class="bg-danger">
                  <h5 class="btn-danger font-weight-bold text-uppercase py-1 px-2 m-0">
                    {{item.name}}
                  </h5>
              </div>
              <div *ngFor="let item2 of item.event" class="row mx-0 py-2 text-capitalize align-items-center">
                <div routerLink="/system-board/event-details/{{item.slug}}/{{item2.eventId}}" class="col-md-4 col-12">
                  <span>{{item2.name}}</span>
                </div>
                <div class="col-md-2 col-9">
                  {{ item2.time*1000 | date :'mediumDate' }}
                  <small class="dash-timer">{{ item2.time*1000 | date :'mediumTime' }}</small>
                </div>
                <div class="col-md-1 col-3">
                  {{ item2.betCount }} bets
                </div>
                <div class="col-md-5 col-12">
                  <ul *ngIf="item2?.runners?.length > 0" class="dash-ul">
                    <li *ngFor="let runner of item2?.runners"> {{runner?.runnerName}} <span [ngClass]="{'dash-profit': runner?.profitLoss >= 0 , 'dash-loss': runner?.profitLoss < 0}" class="">( {{runner?.profitLoss}} )</span> </li>
                  </ul>
                </div>
                <p *ngIf="item2?.type === 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker"></i>live</p>
                <p *ngIf="item2?.type === 'UPCOMING'" class="upcoming-dash">upcoming</p>
              </div>
            </div> <!-- end col -->
          </div>
        </div>

        <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel" [ngClass]="{'active show': isActiveTabs === item.slug }">
          <div class="row mx-0">
            <div class="col-12 dash-div">
              <div class="bg-danger">
                <button type="button" [ngClass]="{'btn-success-unblock pr-0': !item?.isBlock,'btn-danger-block': item?.isBlock}" class="btn " id="DashButtonGame">
                  <span class="btn-label mr-0">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                  </span>
                </button>
                <b class="text-light ml-2 text-uppercase font-weight-bold">{{item.name}}</b>
              </div>

              <div *ngFor="let event of eventList" class="row mx-0 py-2 text-capitalize align-items-center">
                <div class="col-md-4 col-12">
                  <button type="button" [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}" class="btn p-1 lh-08" id="DashButtonGame">
                    <i class="mdi" [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                  </button>
                  <span routerLink="/system-board/event-details/{{item?.slug}}/{{event?.eventId}}"> {{event?.name}}</span>
                </div>
                <div *ngIf="item.slug != 'live-games'"class="col-md-2 col-9">
                  {{ event.time*1000 | date :'mediumDate' }}
                  <small class="dash-timer">{{ event.time*1000 | date :'mediumTime' }}</small>
                </div>
                <div class="col-md-1 col-3">
                  {{ event.betCount }} bets
                </div>
                <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'"  class="col-md-5 col-12">
                  <div class="btn-group mr-1" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group mr-1" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                  </div>
                  <div class="btn-group mr-1" role="group" aria-label="">
                    <button type="button" class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                    <button type="button" class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                  </div>
                </div>
                <p *ngIf="event?.type === 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker"></i>Live</p>
                <p *ngIf="event?.type === 'UPCOMING'" class="upcoming-dash">Upcoming</p>
                <p *ngIf="event?.type === 'CLOSED'" class="upcoming-dash">Closed</p>
              </div>

              <div *ngIf="isEmpty" class="row mx-0 py-2 text-capitalize align-items-center">
                <div class="col-md-4 col-12">
                  No Data Found!!!
                </div>
              </div>
            </div> <!-- end col -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->
