body{
  /* padding-bottom: 0 !important; */
}
.login-display{
  display: flex;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #eee;
}
.login-card {
  background: url(../../img/login-bg.jpg) !important;
  background-size: cover !important;
  display: flow-root;
  background-position: center !important;
}
.login-card > form {
  min-height: 100vh;
  z-index: 4;
  position: relative;
  padding: 0;
  width: 25% !important;
  flex: 0 0 25%;
  max-width: 25%;
  justify-content: center;
  align-items: center;
  display: grid;
  background: rgba(0, 0, 0, 0.788235294117647);
  float: right;
}
.logo-kapsul {
  text-align: center;
}
.login-logo {
  height: auto;
  padding: 25px 0px;
  width: 200px;
}
/* form baÅŸlangÄ±Ã§ stiller ------------------------------- */

.group {
  position: relative;
  margin-bottom: 30px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #fff;
}
.group input:focus {
  outline: none;
}
/* LABEL ======================================= */

.group label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group label i{
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}
/* active durum */

.group input:focus ~ label,
input:valid ~ label {
  top: -25px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active durum bar */

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}
/* active durum */

.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* form animasyon ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: rgba(255, 255, 255, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
.input-ikon {
  font-size: 25px!important;
  position: relative;
}
.input-sifre-ikon {
  font-size: 22px!important;
  position: relative;
}
.span-input {
  margin-left: 5px;
  position: relative;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
}
.giris-yap-buton{
  background:#f18825;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 0;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  transition: 0.9s;
  box-shadow: none;
  width: 100%;
}
.giris-yap-buton:hover{
  box-shadow: inset 0px -2px 2px 0px #fff;
}
/* Forgot and Create */

.zaten-hesap-var-link {
  color: #bbb;
  font-size: 14px;
  padding: 20px 0px;
  text-decoration: none;
  display: block;
}


/*checkbox*/
.checkbox-custom {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  vertical-align: text-top;
}

.checkbox-custom:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 16px;
  height: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.checkbox-custom[type=checkbox]:before {
  background: #fff url("../../img/icons/checkbox-sign.png");
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: 3px 4px;
  position: absolute;
  left: 2px;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.checkbox-custom[type=checkbox]:checked:before {
  content: '';
  position: absolute;
  top: 0px;
  opacity: 1;
  left: 0px;
  border-radius: 2px;
}
span.eyes {
  position: absolute;
  right: 0;
  bottom: 12px;
  color: #fff;
}
label.checkbox {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  font-size: 13px;
}
@media only screen and (max-width : 767px) {
  .login-card > form {
    width: 100% !important;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
