<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        Enquiry
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a *ngIf="cUserData?.role == 'ADMIN'" routerLink="create" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables table-responsive">
      <table class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Contact Number</th>
          <th class="text-center">Email ID</th>
          <th class="text-center">Address</th>
          <th class="text-center">Instrument</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of dataList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.phone}}</td>
          <td class="text-center">{{item.email}}</td>
          <td class="text-center">{{item.address}}</td>
          <td class="text-center">{{item.instrument}}</td>
          <td class="text-center" >
            <a (click)="doDeleteEnquiry(item.id)" class="btn btn-xs text-center text-light border-0 bg-danger" title="Delete">
              <i class="mdi mdi-delete"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->
