<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title text-light">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="{{createUrl}}" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
          <tr class="text-white">
            <th data-toggle="true">#</th>
            <th>Name [username]</th>
            <th>Client ID</th>
            <th>No Of Element</th>
            <th>Total Payment</th>
            <th>Purchase Date</th>
            <th>RenewalDate</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of aList; let i = index;">
            <td>{{ i + page.start }}</td>
            <td>
              <i *ngIf="item.isActive == 1" class="mdi mdi-circle circle-green mr-1" title="Active"></i>
              <i *ngIf="item.isActive == 2" class="mdi mdi-circle circle-blue mr-1" title="Logged In"></i>
              <i *ngIf="item.isActive == 3" class="mdi mdi-circle circle-red mr-1" title="Logged Out"></i>

              {{item.name}} [{{item.username}}]</td>
            <td>{{item.id}}</td>
            <td>{{item.no_of_element}}</td>
            <td>{{item.total_payment}}</td>
            <td><strong>{{item.api_purchase_date}}</strong></td>
            <td><strong>{{item.api_renewal_date}}</strong></td>
            <td>
              <i *ngIf="item.flag == 0" class="green" title="Active">Active</i>
              <i *ngIf="item.flag == 1" class="red" title="Renewal">Renewal</i>
            </td>
            <td>{{item.remark}}</td>
            <td class="sm-buttons" nowrap="nowrap">
              <div>
                <!-- <a (click)="doStatusUpdate(item.id, 1)" class="btn btn-xs text-light border-0 bg-{{item.isBlock.class2}}" title="{{item.isBlock.class2}}">
                <i class="mdi {{item.isBlock.class2}}"></i>
              </a>
              <a (click)="doStatusUpdate(item.id, 2)" class="btn btn-xs text-light border-0 bg-{{item.isLock.class2}}" title="{{item.isLock.class2}}">
                <i class="mdi {{item.isLock.class2}}"></i>
              </a> -->
                <a routerLink="/order-history/{{item.id}}" class="btn btn-xs btn-clock" title="History">
                  <i class="mdi mdi-clock"></i>
                </a>
                <!-- <a routerLink="/users/client/setting/{{item.id}}" class="btn btn-xs btn-sett1" title="Setting">
                <i class="mdi mdi-settings-outline"></i>
              </a> -->
                <a (click)="doStatusDelete(item.id)" class="btn btn-xs text-light border-0 bg-danger" title="Delete">
                  <i class="mdi mdi-delete"></i>
                </a>
                <a (click)="updateLots(item)" class="btn btn-xs btn-white border border-success bg-danger" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <!-- <a routerLink="/users/action/withdrawal/{{item.id}}" class="btn btn-xs btn-w" title="Withdrawal chips">W</a>
              <a routerLink="/users/action/deposit/{{item.id}}" class="btn btn-xs btn-d" title="Deposit chips">D</a>
              <a routerLink="/users/action/reset-password/{{item.id}}" class="btn btn-xs btn-rp" title="Reset Password">RP</a>
              <a routerLink="/reports/chip-history/{{item.id}}" class="btn btn-xs btn-ch" title="Chip History" target="_blank">CH</a>
               <a routerLink="/reports/profit-loss/{{item.id}}" class="btn btn-xs btn-pl" title="Profit Loss" target="_blank">PL</a>
              <a routerLink="/reports/teenpatti-profit-loss/{{item.id}}" class="btn btn-xs btn-3pl" title="Teen Patti Profit Loss" target="_blank">3PL</a>
              <a routerLink="/reports/account-statement/{{item.id}}" class="btn btn-xs btn-as" title="Account Statement" target="_blank">AS</a> -->
              </div>
            </td>
          </tr>
        </tbody>
        <!--<tfoot>
          <tr class="active">
            <td colspan="5">
              <div class="text-right">
                <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
              </div>
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>
    <!-- end .table-responsive-->
  </div>
  <!-- end row -->
</div>
<!-- container -->


<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one clear-settlement" tabindex="-1" role="dialog"
  aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-light" id="myCenterModalLabel"> Key of <b>{{client_name}}</b></h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frm" (ngSubmit)="submitForm()">

          <div class="form-group mb-3">
            <label>Add Element </label>
            <div class="input-group">
              <input type="text" required formControlName="instrument_name" class="form-control" autocomplete="off" aria-hidden="true" pattern="[a-zA-Z]+">
              <em class="show-error" *ngIf="frmInstrument.invalid && (frmInstrument.dirty || frmInstrument.touched)">
                Add New Element !</em>
            </div>
            <p class="form-refer-text"> Add Element | Ex Xyz </p>
          </div>

          <div class="form-group mb-3">
            <label>Total Payment</label>
            <div class="input-group">
              <input type="number" required formControlName="total_payment" class="form-control">
              <em class="show-error" *ngIf="frmPayment.invalid && (frmPayment.dirty || frmPayment.touched)">Total
                Payment
                Invalid !</em>
            </div>
            <p class="form-refer-text"> Total Payment | Ex 123 </p>
          </div>

          <div class="form-group mb-3">
            <label>Purchase Date</label>
            <div class="input-group">
              <input type="date" required formControlName="purchase_date" class="form-control">
              <em class="show-error" *ngIf="frmPurchase.invalid && (frmPurchase.dirty || frmPurchase.touched)">Purchase
                Date
                Invalid !</em>
            </div>
            <p class="form-refer-text"> Purchase Date | Ex Renewal Date.. </p>
          </div>

          <div class="form-group mb-3">
            <label>Renewal Date</label>
            <div class="input-group">
              <input type="date" required formControlName="renewal_date" class="form-control">
              <em class="show-error" *ngIf="frmRenewal.invalid && (frmRenewal.dirty || frmRenewal.touched)">Renewal Date
                Invalid !</em>
            </div>
            <p class="form-refer-text"> Renewal Date | Ex Renewal Date </p>
          </div>

          <div class="form-group text-center">
            <div class="button-list">
              <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-success btn-md">Submit</button>
              <button class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="true"
                id="close-settlement">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>