<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-md-12 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <!-- searchbar -->
      <div class="row bg-light py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="SearchBar">
                <h4 class="panel-title m-0">
                  <a class="text-dark" role="button" data-toggle="collapse" data-parent="#accordion" href="#SearchBarOne" aria-expanded="true" aria-controls="SearchBarOne">
                    <i class="more-less fa fa-plus"></i>
                    Search Bar
                  </a>
                </h4>
              </div>
              <div id="SearchBarOne" class="panel-collapse collapse mt-1" role="tabpanel" aria-labelledby="SearchBar">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xl-8">
                      <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                        <div class="form-row align-items-center">
                          <div class="col-xl-3 col-6 mb-1">
                            <select class="form-control" required formControlName="type">
                              <option value="">Select Type</option>
                              <option value="all">All</option>
                              <option value="settlement">Settlement</option>
                            </select>
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <input type="date" required formControlName="start" class="form-control">
                            <em class="show-error" *ngIf="frmStart.invalid && (frmStart.dirty || frmStart.touched)">Select Date !</em>
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <div class="input-group">
                              <input type="date" required formControlName="end" class="form-control">
                              <em class="show-error" *ngIf="frmEnd.invalid && (frmEnd.dirty || frmEnd.touched)">Select Date !</em>
                            </div>
                          </div>
                          <div class="col-xl-2 col-6 mb-1">
                            <div class="input-group">
                              <button [ngClass]="{'disabled': !frm.valid }" type="submit" class="btn btn-dark">Search</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="col-xl-4 text-right">
                      <div class="button-list">
                        <div class="dt-buttons btn-group">
                          <button type="button" (click)="submitForm('today')" class="btn btn-secondary" title="Today">
                            <span>Today</span>
                          </button>
                          <button type="button" (click)="submitForm('week')" class="btn btn-secondary" title="1 Week">
                            <span>1 Week</span>
                          </button>
                          <button type="button" (click)="submitForm('month')" class="btn btn-secondary" title="1 Month">
                            <span>1 Month</span>
                          </button>
                          <button type="button" class="btn btn-success" (click)="excelDownload()" data-toggle="tooltip" data-placement="top" title="Excel File Download">
                            <span>Export <i class="mdi mdi-file-excel"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- panel-group -->
        </div>
      </div>
      <!-- searchbar -->

      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>client ID</th>
          <th>Client Name</th>
          <th>Description</th>
          <th class="text-center">credit</th>
          <th class="text-center">debit</th>
          <th class="text-center">balance</th>
          <th class="text-center">date & Time</th>
          <th>REMARK</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.clientId}}</td>
          <td>{{item.clientName}}</td>
          <td>{{item.description}}</td>
          <td class="text-center"><span *ngIf="item.amount >= 0" style="color: green"><strong>{{item.amount}}</strong></span><span *ngIf="item.amount < 0" >0.0</span></td>
          <td class="text-center"><span *ngIf="item.amount < 0" style="color: red"><strong>{{item.amount}}</strong></span><span *ngIf="item.amount >= 0" >0.0</span></td>
          <td class="text-center"><strong>{{item.balance}}</strong></td>
          <td class="text-center">{{item.time}}</td>
          <td>{{item.remark}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->
</div>
<!-- container -->
