<div  id="wrapper">
  <app-header></app-header>
  <app-left-sidebar></app-left-sidebar>
  <div class="content-page">
    <div class="content">

      <div class="container-fluid marquee-bg mb-1">
        <div class="row">
          <div class="col-12 px-0">
            <marquee class="marquee-text" onmouseout="start()" onmouseover="stop()" [innerHTML]="commentaryData">This text will scroll from right to left</marquee>
            <button type="button" class="btn-cmtry" data-toggle="modal" data-target="#AdminComm">
              <i class="fa fa-bullhorn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="AdminComm" tabindex="-1" role="dialog" aria-labelledby="AdminComm" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content border border-light rounded-0">
            <div class="modal-header p-1 rounded-0">
              <h5 class="modal-title font-weight-bold text-uppercase" id="AdminCommLabel">Commentary</h5>
              <button aria-label="Close" class="close text-danger" data-dismiss="modal" type="button">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body bg-dark">
              <div class="text-light text-capitalize" [innerHTML]="lastcommData"></div>
            </div>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#c5221b" type = "ball-scale-multiple" fullScreen= "true"><p style="color: white" > Loading... </p></ngx-spinner>
