<div class="login-card">
  <form action="" id="login-form" (ngSubmit)="doLogin()" class="col-lg-12">
    <div class="form-center">
      <div *ngIf="systemId != undefined" class="col-lg-12 logo-kapsul">
        <img class="login-logo" src="assets/img/{{systemId}}/logo-png.png" alt="Logo" />
      </div>

      <div class="group">
        <input class="input100" type="text" name="username"  [(ngModel)]="model.username" required #email="ngModel" autocomplete="off">
        <span class="bar"></span>
        <label>
          <i class="fa fa-user"></i>
          <span class="span-input">Username</span>
        </label>
      </div>

      <div class="group">
        <input class="input101" type="{{passType}}" name="pass" [(ngModel)]="model.password" id="password" required #password="ngModel"  autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          <i class="fa fa-lock"></i>
          <span class="span-input">Password</span>
        </label>
        <span class="eyes">
            <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash"></i>
        </span>
      </div>

      <button class="giris-yap-buton" [ngClass]="{'disabled': !your_system_active_varibale}"> Login </button>
  
    </div>
  </form>
  <form style="display: none;" action="" id="change-pass-form" (ngSubmit)="dochangepass()" class="col-lg-12">
    <div class="form-center">
      <div class="col-lg-12 logo-kapsul">
        <img class="login-logo" src="assets/img/{{systemId}}/logo.png" alt="Logo" />
      </div>

      <div class="group">
        <input class="input101" type="{{passType1}}" name="pass" [(ngModel)]="model.password1" id="password" required #password="ngModel"  autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          <i class="fa fa-lock"></i>
          <span class="span-input">New Password</span>
        </label>
        <span class="eyes">
            <i *ngIf="passType1 != 'password'" (click)="passType1 = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType1 == 'password'" (click)="passType1 = 'text'" class="fa fa-eye-slash"></i>
        </span>
      </div>
      <div class="group">
        <input class="input101" type="{{passType2}}" name="pass" [(ngModel)]="model.password2" id="password" required #password="ngModel"  autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>
          <i class="fa fa-lock"></i>
          <span class="span-input">Confirm Password</span>
        </label>
        <span class="eyes">
            <i *ngIf="passType2 != 'password'" (click)="passType2 = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType2 == 'password'" (click)="passType2 = 'text'" class="fa fa-eye-slash"></i>
        </span>
      </div>
      <button class="giris-yap-buton"> Change Password </button>
    </div>
  </form>
</div>

<!-- maintainance -->
<div class="overlay-on-login" *ngIf="!your_system_active_varibale">
  <div class="ool">
    <h2>{{your_system_message_varibale ? your_system_message_varibale : 'temporally site is not available'}}</h2>
  </div>
</div>