<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3">
                <label>Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user-tie"></i>
                      </span>
                  </div>
                  <input type="text" minlength="3" maxlength="100" required formControlName="name" class="form-control" placeholder="Name" pattern="[a-zA-Z]+">
                  <em class="show-error" *ngIf="frmName.invalid && (frmName.dirty || frmName.touched)">Name Invalid !</em>
                </div>
                <p class="form-refer-text"> Name | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-user"></i>
                      </span>
                  </div>
                  <input type="text" minlength="3" maxlength="50" required formControlName="username" class="form-control" placeholder="Username" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUsername.invalid && (frmUsername.dirty || frmUsername.touched)">Username Invalid !</em>
                </div>
                <p class="form-refer-text"> Username | Ex xyz | min 3 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>
                  <input type="password" minlength="8" maxlength="50" required formControlName="password" class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password Invalid !</em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz@#$123ABC | min 6 | max 20</p>
              </div>

              <div class="form-group mb-3">
                <label>Balance</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-money"></i>
                      </span>
                  </div>
                  <input type="text" minlength="1" maxlength="10" (input)="checkBalance(frmBalance)" required formControlName="balance" class="form-control" placeholder="Balance" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBalance.invalid && (frmBalance.dirty || frmBalance.touched)">Balance Invalid !</em>
                </div>
                <p class="form-refer-text">Balance | Ex 5000 | <span style="font-weight: 700; font-size: 13px;" [ngClass]="{'green': belance >= 0,'red': belance < 0 }">{{parentUser}} balance is {{belance}}</span></p>
              </div>

<!--              <div class="form-group mb-3">-->
<!--                <label>M/C %</label>-->
<!--                <div class="input-group">-->
<!--                  <div class="input-group-prepend">-->
<!--                      <span class="input-group-text">-->
<!--                          <i class="fas fa-money"></i>-->
<!--                      </span>-->
<!--                  </div>-->
<!--                  <input type="text" minlength="1" maxlength="2" required formControlName="mc" class="form-control" placeholder="M/C %" aria-label="" aria-describedby="">-->
<!--                  <em class="show-error" *ngIf="frmMc.invalid && (frmMc.dirty || frmMc.touched)">M/C % Invalid !</em>-->
<!--                </div>-->
<!--                <p class="form-refer-text">M/C % | Ex 1 ( Note: This is match odd commission. Default value is 1. )</p>-->
<!--              </div>-->

              <div class="form-group mb-3">
                <label>Remark</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-comment-alt"></i>
                      </span>
                  </div>
                  <input type="text" maxlength="100" formControlName="remark" class="form-control" placeholder="Remark" pattern="[a-zA-Z]+">
                  <em class="show-error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">Remark Invalid !</em>
                </div>
                <p class="form-refer-text">Remark | Ex xyz</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md" [ngClass]="{'disabled':  userError != '' || plError <= 0 || !frm.valid}">Submit</button>
                  <a class="btn btn-danger btn-md text-light" (click)="onCancel()">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
