<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between ">

    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>
    <!--back & create-->

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <!-- searchbar -->
      <div class="row bg-light py-1 mb-2 align-items-center mx-0 border-bottom border-danger">
        <div class="col-xl-12">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="SearchBar">
                <h4 class="panel-title m-0">
                  <a class="text-dark" role="button" data-toggle="collapse" data-parent="#accordion" href="#SearchBarOne" aria-expanded="true" aria-controls="SearchBarOne">
                    <i class="more-less fa fa-plus"></i>
                    Search Bar
                  </a>
                </h4>
              </div>
              <div id="SearchBarOne" class="panel-collapse collapse mt-1" role="tabpanel" aria-labelledby="SearchBar">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xl-8">
                      <form [formGroup]="frm" (ngSubmit)="submitForm()" >
                        <div class="form-row align-items-center">
                          <div class="col-xl-3 col-6 mb-1">
                            <input placeholder="enter client" type="text" required formControlName="client" class="form-control">
                          </div>
                          <div class="col-xl-3 col-6 mb-1">
                            <input placeholder="enter runner" type="text" required formControlName="runner" class="form-control">
                          </div>
                          <div class="col-xl-2 col-6 mb-1">
                            <div class="input-group">
                              <button type="submit" class="btn btn-dark">Search</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- panel-group -->
        </div>
      </div>
      <!-- searchbar -->
      <table id="{{dataTableId}}" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>Bet ID</th>
          <th>Runner</th>
          <th>Client</th>
          <th>Price</th>
          <th>Rate</th>
          <th>Stake</th>
          <th>P&L</th>
          <th>IP</th>
          <th>Master</th>
          <th>Time</th>
<!--          <th>Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;" [ngClass]="{ 'bg-red': item.bType == 'lay' || item.bType == 'no' || item.bType == 'LAY' || item.bType == 'NO','bg-blue': item.bType == 'yes' || item.bType == 'back' || item.bType == 'YES' || item.bType == 'BACK'}">
          <td>{{ item.id }}</td>
          <td>{{item.runner}}</td>
          <td>{{item.client}}</td>
          <td>{{item.price}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.stake}}</td>
          <td>{{item.pl}}</td>
          <td>{{item.ip}}</td>
          <td>{{item.master}}</td>
          <td>{{item.time}}</td>
<!--          <td><i (click)="doBetDelete(item.id)" class="mdi mdi-delete btn btn-xs btn-danger"></i></td>-->
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->
