<!-- Start Content-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12 px-1">
      <div class="dash-tabd">
        <ul *ngIf="dataList" class="nav nav-tabs nav-bordered my-nav-tabs">
          <!-- <li class="nav-item" (click)="getDataList( 'all' )">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">
              <img src="assets/img/tab-dashboard.svg">
              Dashboard
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-item nav-link" (click)="isActiveTabs = 'market';"
              [ngClass]="{'active': isActiveTabs === 'market'}">
              <img src="assets/img/tab-market.svg">
              Market
            </a>
          </li>

          <!-- <li>
           <button *ngIf="cUserData?.role === 'ADMIN'" type="button" class="btn pr-0 bg-danger">
              <span (click)="changeStatus(type,allActive)" class="btn-label mr-0">
                <i class="mdi" [ngClass]="{'mdi-check-all': allActive === 0,'mdi-block-helper': allActive === 1}"></i>
              </span>
             </button>
          </li> -->

          <!-- <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">
            <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">
              <img src="assets/img/{{item.icon}}">
              {{item.name}}
            </a>
          </li> -->
        </ul>
      </div>

      <div class="tab-content ctm-tabs-content pt-1" id="nav-tabContent">

        <!-- <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}"> -->

          <div class="col-md-12 all-dash-tabs px-0">

            <div class="row mx-0">
            <div class="col-md-6 col-12" *ngFor="let mItem of marketList">
              <div class="row bg-card trade-acc">
                <div class="col-md-10">
                  <div class="row align-items-center" routerLink="market-orders/{{mItem?.tradingSymbol}}">
                  <div class="col-md-6 col-4 px-1">
                    <p class="trade-name">
                      {{mItem?.name}}
                      <span class="trade-timer">{{mItem?.expiry}}</span>
                    </p>
                    </div>
                    <div class="col-md-2 col-3 px-1">
                      <p class="low-high-trade">
                        <b class="red">{{mItem?.depth?.sell}}</b>
                      </p>
                      <small class="tht-text">low: {{mItem?.ohlc?.low}}</small>
                    </div>
                    <div class="col-md-2 col-4 px-1">
                      <p class="low-high-trade m-0">
                        <b class="golden">{{mItem?.depth?.buy}}</b>
                      </p>
                      <small class="tht-text">high: {{mItem?.ohlc?.high}}</small>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-2">
                    <!--Avtive or Inactive-->
                    
                      <button *ngIf="cUserData?.role === 'ADMIN'" type="button" class="btn bg-danger">
                        <span (click)="changeStatus(mItem?.tradingSymbol,mItem?.is_block)" >
                          <i class="mdi" [ngClass]="{'mdi-check-all': mItem?.is_block === 0,'mdi-block-helper': mItem?.is_block === 1}"></i>
                        </span>
                      </button>
                    
                  </div>
                </div>
              </div>

            <!-- <div class="row mx-0">
              <div class="col-md-3 col-6 dash-col-3">
                <a (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/dash-market.svg" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">my market</p>
                    <span data-plugin="counterup">15</span>
                  </div>
                </a>
              </div> -->

              <!-- <div *ngFor="let item of dataList"  class="col-md-3 col-6 dash-col-3">
                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )">
                  <div class="widget-rounded-circle bg-card">
                    <img class="img-fluid" src="assets/img/{{item.img}}" alt="">
                    <p class="text-muted mb-1 text-truncate text-uppercase">{{item.name}}</p>
                  </div>
                </a>
              </div> -->
            </div>

          <!-- </div> -->
        </div>  

        <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"
          [ngClass]="{'active show': isActiveTabs === ''}" role="tabpanel" aria-expanded="false">

          <div class="row mx-0">
            <div class="col-md-6 col-12" *ngFor="let mItem of marketList">
              <div class="row bg-card trade-acc">
                <div class="col-md-11">
                  <div class="row align-items-center" routerLink="market-orders/{{mItem?.tradingSymbol}}">
                  <div class="col-md-6 col-4 px-1">
                    <p class="trade-name">
                      {{mItem?.name}}
                      <span class="trade-timer">{{mItem?.expiry}}</span>
                    </p>
                     <!-- <span class="trade-text">spread 15</span>  -->
                  </div>
                  <div class="col-md-2 col-3 px-1">
                    <p class="low-high-trade">
                      <b class="red">{{mItem?.depth?.sell}}</b>
                    </p>
                    <small class="tht-text">low: {{mItem?.ohlc?.low}}</small>
                  </div>
                  <div class="col-md-2 col-4 px-1">
                    <p class="low-high-trade m-0">
                      <b class="golden">{{mItem?.depth?.buy}}</b>
                    </p>
                    <small class="tht-text">high: {{mItem?.ohlc?.high}}</small>
                  </div>
                </div>
                </div>
                <div class="col-md-2">
                  <!--Avtive or Inactive-->
                  <button *ngIf="cUserData?.role === 'ADMIN'" type="button" class="btn bg-danger">
                    <span (click)="changeStatus(mItem?.tradingSymbol,mItem?.is_block)" >
                      <i class="mdi" [ngClass]="{'mdi-check-all': mItem?.is_block === 0,'mdi-block-helper': mItem?.is_block === 1}"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>

          </div>

          <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel"
            [ngClass]="{'active show': isActiveTabs === item.slug }">
            <div class="row mx-0">
              <div class="col-12 dash-div">
                <div class="bg-danger">
                  <button *ngIf="cUserData?.role != 'SV'" type="button"
                    [ngClass]="{'btn-success-unblock': !item?.isBlock,'btn-danger-block': item?.isBlock}"
                    class="btn pr-0" id="DashButtonGame">
                    <span (click)="doSportBlock(item?.sportId,item?.isBlock)" class="btn-label mr-0">
                      <i class="mdi"
                        [ngClass]="{'mdi-check-all': !item?.isBlock,'mdi-block-helper': item?.isBlock}"></i>
                    </span>
                  </button>
                  <b class="text-light ml-2 text-uppercase font-weight-bold">{{item.name}}</b>
                </div>

                <div *ngFor="let event of eventList" class="row mx-0 py-2 text-capitalize align-items-center">
                  <div class="col-md-4 col-12">
                    <button *ngIf="cUserData?.role != 'SV'" (click)="doEventBlock(event?.eventId,event?.isBlock)"
                      [ngClass]="{'btn-success-unblock': !event?.isBlock,'btn-danger-block': event?.isBlock}"
                      type="button" class="btn p-1 lh-08" id="DashButtonGame">
                      <i class="mdi"
                        [ngClass]="{'mdi-check-all': !event?.isBlock,'mdi-block-helper': event?.isBlock}"></i>
                    </button>
                    <span routerLink="dashboard/event-details/{{item?.slug}}/{{event?.eventId}}"> {{event?.name}}</span>
                  </div>
                  <div *ngIf="item?.slug != 'live-games'" class="col-md-2 col-9">
                    {{ event.time*1000 | date :'mediumDate' }}
                    <small class="dash-timer">{{ event.time*1000 | date :'mediumTime' }}</small>
                  </div>
                  <div class="col-md-1 col-3">
                    {{ event.betCount }} bets
                  </div>
                  <div *ngIf="item.slug == 'cricket' || item.slug == 'tennis' || item.slug == 'football'"
                    class="col-md-5 col-12">
                    <div class="btn-group mr-1" role="group" aria-label="">
                      <button type="button"
                        class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.backPrice1 || '-'}}</button>
                      <button type="button"
                        class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[0]?.layPrice1 || '-'}}</button>
                    </div>
                    <div class="btn-group mr-1" role="group" aria-label="">
                      <button type="button"
                        class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.backPrice1 || '-'}}</button>
                      <button type="button"
                        class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[2]?.layPrice1 || '-'}}</button>
                    </div>
                    <div class="btn-group mr-1" role="group" aria-label="">
                      <button type="button"
                        class="d-blue-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.backPrice1 || '-'}}</button>
                      <button type="button"
                        class="d-red-area">{{event?.oddsData?.odds && event?.oddsData?.odds[1]?.layPrice1 || '-'}}</button>
                    </div>
                  </div>
                  <p *ngIf="event?.type === 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker"></i>Live
                  </p>
                  <p *ngIf="event?.type === 'UPCOMING'" class="upcoming-dash">Upcoming</p>
                  <p *ngIf="event?.type === 'CLOSED'" class="upcoming-dash">Closed</p>
                </div>

                <div *ngIf="isEmpty" class="row mx-0 py-2 text-capitalize align-items-center">
                  <div class="col-md-4 col-12">
                    No Data Found!!!
                  </div>
                </div>
              </div> <!-- end col -->
            </div>
          </div>
        </div>

      </div>
    </div> 
    <!-- end row -->

  </div> <!-- container -->

  <router-outlet></router-outlet>

  <!-- banner model -->
  <div class="modal fade modal-s3 modal-one" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel1"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered"
      style="min-width: 98% !important; min-height: calc(100% - 20rem) !important;">
      <div class="modal-content">
        <div class="modal-header bg-light py-1">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body p-0">
          <img class="img-fluid" src="assets\img\meta-banner.jpg">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->