.bg-card {
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 0;
}

.align-items-center, .info-box-icon {
    align-items: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}


.pl-1, .px-1 {
    padding-left: 0.25rem !important;
}
.pr-1, .px-1 {
    padding-right: 0.25rem !important;
}
@media (min-width: 768px)
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}


.trade-name {
    text-transform: uppercase;
    color: #312e2e;
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
}

.trade-text {
    color: #9a9a9a;
    font-size: 12px;
    display: block;
    text-transform: capitalize;
}

.pl-1, .px-1 {
    padding-left: 0.25rem !important;
}
.pr-1, .px-1 {
    padding-right: 0.25rem !important;
}
@media (min-width: 768px)
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.low-high-trade {
    margin: 0;
    text-align: right;
}

.tht-text {
    text-transform: capitalize;
    font-size: 12px;
    display: block;
    color: #9a9a9a;
    text-align: right;
}
small, .small {
    font-weight: 400;
}

.low-high-trade b {
    font-size: 15px;
    font-weight: 700;
}

.low-high-trade em {
    vertical-align: top;
    font-style: normal;
    font-size: 12px;
    line-height: 0.8;
}
.trade-timer {
    color: #9a9a9a;
    font-size: 12px;
    display: block;
}

.m-0 {
    margin: 0 !important;
}


.red {
    color: red;
}

.golden {
    color: goldenrod;
}