<!-- Start Content-->
<div class="container-fluid">

  <div class="row align-items-center py-1">
    <div class="col-md-12 bg-danger py-1">
      <h4 class="page-title">
        <a *ngIf="isBack" (click)="goToUserSummaryBack(pUserId)" class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>
        {{title}}
      </h4>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-6 px-1">

      <div id="accordion" class="mb-3 accordion game-detail-acc settlement-plus">

        <h2 class="bg-dark p-1 mt-0">
          <small> <b>{{cUserName}} ( <i class="fa fa-plus"></i> ) Account </b></small>
        </h2>
        <div class="p-1">
          <table id="ScrollVerticalPlus" class="table bg-white nowrap m-0">
            <thead class="bg-blue">
            <tr>
              <th>Role</th>
              <th>Name [ Username ]</th>
              <th>P&L</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngIf="aList">
            <tr *ngFor="let items of aList">
              <td>
                <span *ngIf="items.role == 'SM1' || items.role == 'SM2'" class="super-master">sm</span>
                <span *ngIf="items.role == 'M1' || items.role == 'M2'" class="master">m</span>
                <span *ngIf="items.role == 'C'" class="client">c</span>
              </td>
              <td>
                <b *ngIf="items.role != 'C'" (click)="goToUserSummary(items)">{{items.name}}</b>
                <b *ngIf="items.role == 'C'" >{{items.name}}</b>
              </td>
              <td><b>{{items.pl}}</b></td>
              <td>
<!--                <button *ngIf="items.pl != 0" class="btn btn-dark btn-xs" data-toggle="modal" data-target=".modal-s1" (click)="accType = false">Settlement</button>-->
                <button *ngIf="isCanSettle && items.pl != 0" (click)="clearSettlement(items,'plus')" class="btn btn-blue text-uppercase font-weight-bold btn-xs text-light mr-1">Settlement</button>
                <a routerLink="/reports/account-statement/{{items.id}}" class="btn btn-dark text-uppercase font-weight-bold btn-xs text-light" target="_blank">History</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <!-- <tr *ngIf="aListTotal?.ownComm !== undefined && aListTotal?.ownComm !==''">
              <td></td>
              <td class="text-right text-success">Own Comm :</td>
              <td class="text-success"><i class="mdi mdi-currency-inr"></i> {{aListTotal?.ownComm}}</td>
              <td></td>
            </tr>
            <tr *ngIf="aListTotal?.parentComm !== undefined && aListTotal?.parentComm !==''">
              <td></td>
              <td class="text-right text-success">Parent Comm :</td>
              <td class="text-success"><i class="mdi mdi-currency-inr"></i> {{aListTotal?.parentComm}}</td>
              <td></td>
            </tr> -->
            <tr *ngIf="aListTotal?.ownPl !== undefined && aListTotal?.ownPl !==''">
              <td></td>
              <td class="text-right text-success">Own PL :</td>
              <td class="text-success"> <i class="mdi mdi-currency-inr"></i> {{aListTotal?.ownPl}}</td>
              <td></td>
            </tr>
            <tr *ngIf="aListTotal?.parentPl !== undefined && aListTotal?.parentPl !== ''">
              <td></td>
              <td class="text-right text-success">Parent PL :</td>
              <td class="text-success"> <i class="mdi mdi-currency-inr"></i> {{aListTotal?.parentPl}}</td>
              <td></td>
            </tr>
            <tr *ngIf="aListTotal?.cash !== undefined && aListTotal?.cash !== ''">
              <td></td>
              <td class="text-right text-success">Cash :</td>
              <td class="text-success"> <i class="mdi mdi-currency-inr"></i> {{aListTotal?.cash}}</td>
              <td></td>
            </tr>
            <tr class="bg-success" *ngIf="aListTotal?.total !== ''">
              <td></td>
              <td class="text-white font-weight-bold text-right">Total :</td>
              <td class="text-white font-weight-bold"> <i class="mdi mdi-currency-inr"></i> {{aListTotal?.total}}</td>
              <td></td>
            </tr>
            </tfoot>
          </table>
        </div>


      </div> <!-- end #accordions-->
    </div>

    <div class="col-xl-6 px-1">
      <div class="border game-detail-acc settlement-minus">
        <h2 class="bg-dark p-1 mt-0 justify-content-between">
          <small> <b>{{cUserName}} ( <i class="fa fa-minus"></i> ) Account </b></small>
        </h2>

        <div class="p-1">
          <table id="ScrollVerticalMinus" class="table bg-white nowrap m-0">
            <thead class="bg-danger">
            <tr>
              <th>Role</th>
              <th>Name [ Username ]</th>
              <th>P&L</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody *ngIf="aList1">
            <tr *ngFor="let items of aList1">
              <td>
                <span *ngIf="items.role == 'SM1' || items.role == 'SM2'" class="super-master">sm</span>
                <span *ngIf="items.role == 'M1' || items.role == 'M2'" class="master">m</span>
                <span *ngIf="items.role == 'C'" class="client">c</span>
              </td>
              <td>
                <b *ngIf="items.role != 'C'" (click)="goToUserSummary(items)">{{items.name}}</b>
                <b *ngIf="items.role == 'C'" >{{items.name}}</b>
              </td>
              <td><b>{{items.pl}}</b></td>
              <td>
                <!--<button *ngIf="items.pl != 0" class="btn btn-dark btn-xs" data-toggle="modal" data-target=".modal-s1" (click)="accType = true">Settlement</button>-->
                <button *ngIf="isCanSettle && items.pl != 0" (click)="clearSettlement(items,'minus')" class="btn btn-blue text-uppercase font-weight-bold btn-xs text-light mr-1">Settlement</button>
                <a routerLink="/reports/account-statement/{{items.id}}" class="btn btn-dark text-uppercase font-weight-bold btn-xs text-light" target="_blank">History</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr *ngIf="aList1Total?.ownPl !== undefined && aList1Total?.ownPl !== ''">
              <td></td>
              <td class="text-right text-danger">Own PL :</td>
              <td class="text-danger"> <i class="mdi mdi-currency-inr"></i> {{aList1Total?.ownPl}}</td>
              <td></td>
            </tr>
            <tr *ngIf="aList1Total?.parentPl !== undefined && aList1Total?.parentPl !== ''">
              <td></td>
              <td class="text-right text-danger">Parent PL :</td>
              <td class="text-danger"> <i class="mdi mdi-currency-inr"></i> {{aList1Total?.parentPl}}</td>
              <td></td>
            </tr>
            <tr *ngIf="aList1Total?.cash !== undefined && aList1Total?.cash !== ''">
              <td></td>
              <td class="text-right text-danger">Cash :</td>
              <td class="text-danger"> <i class="mdi mdi-currency-inr"></i> {{aList1Total?.cash}}</td>
              <td></td>
            </tr>
            <tr class="bg-danger" *ngIf="aList1Total?.total !== ''">
              <td></td>
              <td class="text-white font-weight-bold text-right">Total :</td>
              <td class="text-white font-weight-bold"> <i class="mdi mdi-currency-inr"></i> {{aList1Total?.total}}</td>
              <td></td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>

  </div>
  <!-- end row -->

</div> <!-- container -->

<!-- Custom Modal -->
<div class="modal fade modal-s1 modal-one clear-settlement" tabindex="-1" role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h4 class="modal-title text-light" id="myCenterModalLabel"> Settlement of <b>{{SettleUser}}</b></h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frm" (ngSubmit)="submitForm()">
          <div class="form-group mb-3">
            <label>Amount</label>
            <div class="input-group">
              <input type="text" required formControlName="amount" (input)="settlement(frm.get('amount'))" class="form-control" placeholder="Amount">
              <em class="show-error" *ngIf="frmAmount.invalid && (frmAmount.dirty || frmAmount.touched)">Invalid Amount!</em>
            </div>
            <p class="form-refer-text"> Amount | Ex 1000 | Remaining Amount : {{userBalance | number}}</p>
            <p *ngIf="isErrorShow" class="form-refer-text red">{{errorSummary}}</p>
          </div>
          <div *ngIf="isCheckBox && SettleType === 'minus'" class="form-group mb-3">
            <label></label>
            <div class="input-group">
              <input autocomplete="off" type="checkbox" formControlName="checkbox"> <b>Do you want to add chips?</b>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Remark</label>
            <div class="input-group">
              <input type="text" required formControlName="remark" class="form-control" placeholder="Remark">
              <em class="show-error" *ngIf="frmRemark.invalid && (frmRemark.dirty || frmRemark.touched)">Remark Not Null!</em>
            </div>
            <p class="form-refer-text"> Remark | Ex xyz</p>
          </div>
          <div class="form-group text-center">
            <div class="button-list">
              <button [ngClass]="{'disabled': !frm.valid || isErrorShow }" type="submit"  class="btn btn-success btn-md">Submit</button>
              <button class="btn btn-danger btn-md" data-dismiss="modal" aria-hidden="true" id="close-settlement">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->