<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between bg-light border border-danger font-weight-bold">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title text-light">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-12">
      <div class="row">
          <div class="col-12">
            <p class="red">Note: 0 value means no limit check !</p>
            <ul class="nav nav-tabs fbm-nav mt-2 border-0" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#CricketForm">Cricket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#FootballForm">Football</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#TennisForm">Tennis</a>
              </li>
            </ul>
          </div>

          <div class="col-12">
            <!-- Tab panes -->
            <div class="tab-content p-0">
              <div id="CricketForm" class="container p-0 m-0 tab-pane active">
                <div class="row">
                  <div class="col-md-6">
                    <form [formGroup]="Cricket_Frm1" (ngSubmit)="submitCricketFrm1()" class="fbm-form">
                      <h2>Match Odds</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                      <button [ngClass]="{'disabled': !Cricket_Frm1.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Cricket_Frm2" (ngSubmit)="submitCricketFrm2()" class="fbm-form">
                        <h2>Fancy</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                        <button [ngClass]="{'disabled': !Cricket_Frm2.valid}" type="submit" class="btn btn-fbm">Update</button>
                      </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Cricket_Frm3" (ngSubmit)="submitCricketFrm3()" class="fbm-form">
                        <h2>Book Maker</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                        <button [ngClass]="{'disabled': !Cricket_Frm3.valid}" type="submit" class="btn btn-fbm">Update</button>
                      </form>
                  </div>
                  <!-- end -->

                </div>

              </div>
              <div id="TennisForm" class="container p-0 m-0 tab-pane fade">
                <div class="row">

                  <div class="col-md-6">
                    <form [formGroup]="Tennis_Frm1" (ngSubmit)="submitTennisFrm1()" class="fbm-form">
                      <h2>Match Odds</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                        <button [ngClass]="{'disabled': !Tennis_Frm1.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Tennis_Frm2" (ngSubmit)="submitTennisFrm2()" class="fbm-form">
                      <h2>Fancy</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                        <button [ngClass]="{'disabled': !Tennis_Frm2.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Tennis_Frm3" (ngSubmit)="submitTennisFrm3()" class="fbm-form">
                      <h2>Book Maker</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                      <button [ngClass]="{'disabled': !Tennis_Frm3.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->
                </div>
              </div>
              <div id="FootballForm" class="container p-0 m-0 tab-pane fade">
                <div class="row">
                  <div class="col-md-6">
                    <form [formGroup]="Football_Frm1" (ngSubmit)="submitFootballFrm1()" class="fbm-form">
                      <h2>Match Odds</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                      <button [ngClass]="{'disabled': !Football_Frm1.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Football_Frm2" (ngSubmit)="submitFootballFrm2()" class="fbm-form">
                      <h2>Fancy</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                      <button [ngClass]="{'disabled': !Football_Frm2.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->

                  <div class="col-md-6">
                    <form [formGroup]="Football_Frm3" (ngSubmit)="submitFootballFrm3()" class="fbm-form">
                      <h2>Book Maker</h2>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min Stack</label>
                          <input formControlName="min_stack" type="number" name="min_stack" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Stack</label>
                          <input formControlName="max_stack" type="number" name="max_stack" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Max Profit Limit</label>
                          <input formControlName="max_profit_limit" type="number" name="max_profit_limit" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Max Expose Limit</label>
                          <input formControlName="max_expose_limit" type="number" name="max_expose_limit" class="form-control" placeholder="">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Bet Delay</label>
                          <input formControlName="bet_delay" type="number" name="bet_delay" class="form-control" placeholder="">
                        </div>
                      </div>
                      <button [ngClass]="{'disabled': !Football_Frm3.valid}" type="submit" class="btn btn-fbm">Update</button>
                    </form>
                  </div>
                  <!-- end -->
                </div>
              </div>
            </div>
            <!-- Tab panes -->
          </div>
      </div>
    </div>
  </div>
</div> <!-- container -->
